@import url(https://fonts.googleapis.com/css?family=Oswald:700);

body     {
  background:#231F20;
  text-align:center;
}

h1         {
  color:#FFF;
  font-family:'Oswald';
  font-weight:700;
  position:relative;  
  margin:30px auto;
  text-transform:uppercase;
  width:600px;
}
h1::before {
    background-color:#4A90E2;
    content: "";
    display: block;

    height: 40px;
    width: 40px;
    position: absolute;
    border-top-left-radius:50%;
    border-bottom-left-radius: 50%;
}
h1::after {
    background-color:#4A90E2;
    content: "";
    display: inline-block;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    position: absolute;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
