@font-face {
    font-family: "CustomFont";
    src: url("DkCrayonCrumble-ddll.ttf");
}
body{
    background-image: url(background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    color: whitesmoke;
    font-family: 'CustomFont', Arial, sans-serif;
    height: 100%;
}
div{
    width: 100%;
    text-align: center;
    padding: 20px;
}
button{
    font-family: 'CustomFont', Arial, sans-serif;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 40px;
    color: whitesmoke;
    background-color: black;
}
h1{
    text-align: center;
    color: white;
    font-size: 60px;
}
ol {
    display: flex;
    flex-wrap: wrap;
}
.listItemFalse {
    list-style-type: none;
    font-size: 40px;
    line-height: 2;
    padding-left: 80px; 
}
.listItemTrue {
    list-style-type: none;
    font-size: 40px;
    line-height: 2;
    padding-left: 80px;
    text-decoration: line-through;
}
.checkbox {
    transform: scale(2);
}
.trash {
    height: 28px;
}
#inputField {
    font-family: 'CustomFont', Arial, sans-serif;
    border-radius: 5px;
    font-size: 28px;
}
#header{
    color: white;
}