.App {
  text-align: center;
}

li span{
  text-decoration: none;
}
div{
  line-height: 20px;
  margin-bottom: 5px;
}
header{
  margin-bottom: 20px;
}
.song-item{
  text-align: left;
  padding: 5px;
}
input{
  font-size: 16px;
  padding: 2px;
}
.navbar{
  font-size: 18px;;
}