.batman{
  position: relative;
  top: 0;
  left: 0;

  transform: translate(900px, 220px) rotate(90deg) scale(5);
  transition-property: all;
  transition-timing-function: linear;
  animation-name: battle;
  animation-duration: 1s;
  animation-fill-mode:both;
  animation-iteration-count: infinite;
}

.joker{
  position: absolute;
  top: 0px;
  left: 0px;
}
@keyframes battle {
  from {transform: translate(0,0)}

  to {transform: translate(900px, 420px) rotate(90deg) scale(5);
    
}